old/
build/
*.pyc
__pycache__
/dist/
/*.egg-info
/*.egg
/*.eggs
.tox
.eggs
.ruff_cache
.pytest_cache
*~

# geckodriver.log
*.log
docker/.env

# vscode dev container settings
compose-dev.yaml

# eclipse
.project
.pydevproject
.settings
