old/
build/
venv/
*.pyc
__pycache__
/dist/
/*.egg-info
/*.egg
/*.eggs
.tox
.eggs
.ruff_cache
.pytest_cache
.vectorcode
*~

# geckodriver.log
*.log
docker/.env

# vscode dev container settings
compose-dev.yaml
