pyzmq==26.2.1
python-gnupg==0.5.4
Jinja2==3.1.6
pycryptodome==3.23.0
PySocks==1.7.1
websocket-client==1.8.0
coincurve@git+https://github.com/basicswap/coincurve@932366c9d4d8e487162b5c1b2a2d9693e24e0483
