{% include 'header.html' %}

<h3>Bid {{ bid_id }}</h3>
{% if refresh %}
<p>Page Refresh: {{ refresh }} seconds</p>
{% endif %}

{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}

<table>
<tr><td>Swap</td><td>{{ data.amt_from }} {{ data.ticker_from }} for {{ data.amt_to }} {{ data.ticker_to }}</td></tr>
<tr><td>Bid State</td><td>{{ data.bid_state }}</td></tr>
<tr><td>StateDescription </td><td>{{ data.state_description }}</td></tr>
<tr><td>Offer</td><td><a href="/offer/{{ data.offer_id }}">{{ data.offer_id }}</a></td></tr>
<tr><td>Address From</td><td>{{ data.addr_from }}</td></tr>
<tr><td>Created At</td><td>{{ data.created_at }}</td></tr>
<tr><td>Expired At</td><td>{{ data.expired_at }}</td></tr>
<tr><td>Sent</td><td>{{ data.was_sent }}</td></tr>
<tr><td>Received</td><td>{{ data.was_received }}</td></tr>
</table>

<form method="post">
{% if edit_bid %}
<h4>Edit Bid</h4>
<table>
<tr><td>Change Bid State</td><td>
<select name="new_state">
{% for s in data.bid_states %}
<option value="{{ s[0] }}"{% if data.bid_state_ind==s[0] %} selected{% endif %}>{{ s[1] }}</option>
{% endfor %}
</select></td></tr>
</table>
<input name="edit_bid_cancel" type="submit" value="Cancel">
<input name="edit_bid_submit" type="submit" value="Submit">
{% else %}
{% if data.was_received == 'True' %}
<input name="accept_bid" type="submit" value="Accept Bid" onclick="confirmPopup(\"Accept\")"><br/>
{% endif %}
{% if data.can_abandon == true %}
<input name="abandon_bid" type="submit" value="Abandon Bid" onclick="confirmPopup(\"Abandon\")">
{% endif %}
{% if data.show_txns %}
<input name="hide_txns" type="submit" value="Hide Info">
{% else %}
<input name="show_txns" type="submit" value="Show More Info">
{% endif %}
<input name="edit_bid" type="submit" value="Edit Bid">
{% endif %}
<input type="hidden" name="formid" value="{{ form_id }}">

{% if data.show_txns %}
<h4>Transactions</h4>
<table>
<tr><th>Tx Type</th><th>Tx ID</th><th>Blocks Deep</th></tr>
{% for tx in data.txns %}
<tr><td>{{ tx.type }}</td><td>{{ tx.txid }}</td><td>{{ tx.confirms }}</td></tr>
{% endfor %}
</table>
<table>
<tr><td>View Transaction</td><td>
<select name="view_tx">
{% for tx in data.txns %}
<option value="{{ tx.txid }}"{% if data.view_tx_ind==tx.txid %} selected{% endif %}>{{ tx.type }} {{ tx.txid }}</option>
{% endfor %}
</select></td></tr>
</table>
<input name="view_tx_submit" type="submit" value="View Tx">

{% if data.view_tx_hex %}
<p>{{ data.view_tx_hex }}</p>
{% endif %}
{% endif %}
</form>


<h4>Old States</h4>
<table>
<tr><th>State</th><th>Set At</th></tr>
{% for s in old_states %}
<tr><td>{{ s[1] }}</td><td>{{ s[0] | formatts }}</td></tr>
{% endfor %}
</table>

<h4>Events</h4>
<table>
<tr><th>At</th><th>Event</th></tr>
{% for e in data.events %}
<tr><td>{{ e.at | formatts }}</td><td>{{ e.desc }}</td></tr>
{% endfor %}
</table>

<p><a href="/">home</a></p>
<script>
function confirmPopup(name) {
    confirm(name + " Bid - Are you sure?");
}
</script>
</body></html>
