{% include 'header.html' %}

<h3>{{ page_type }} Bids</h3>
{% if refresh %}
<p>Page Refresh: {{ refresh }} seconds</p>
{% endif %}

<table>
<tr><th>At</th><th>Bid ID</th><th>Offer ID</th><th>Bid Status</th><th>ITX Status</th><th>PTX Status</th></tr>
{% for b in bids %}
<tr><td>{{ b[0] }}</td><td><a href=/bid/{{ b[1] }}>{{ b[1] }}</a></td><td><a href=/offer/{{ b[2] }}>{{ b[2] }}</a></td><td>{{ b[3] }}</td><td>{{ b[4] }}</td><td>{{ b[5] }}</td></tr>
{% endfor %}
</table>

<p><a href="/">home</a></p>
</body></html>
