<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel=icon sizes="32x32" type="image/png" href="/static/images/favicon-32.png">
  <title>{{ title }}</title>
</head>
<body>
<h2>Change password</h2>
{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}
{% for m in err_messages %}
<p class="error_msg">Error: {{ m }}</p>
{% endfor %}
<form method="post">
<table>
<tr><td>Old Password</td><td><input type="text" name="oldpassword"></td></tr>
<tr><td>New Password</td><td><input type="text" name="newpassword"></td></tr>
<tr><td>Confirm Password</td><td><input type="text" name="confirmpassword"></td></tr>
<tr><td><input type="submit" name="unlock" value="Unlock"></td></tr>
</table>
<input type="hidden" name="formid" value="{{ form_id }}">
</form>
<p><a href="/">home</a></p>
</body>
</html>
