{% include 'header.html' %}

<p>
{% if refresh %}
Page Refresh: {{ refresh }} seconds<br/>
{% endif %}
Version: {{ version }}
</p>
<p>
<a href="/wallets">View Wallets</a><br/>
<a href="/settings">Settings</a><br/>
<a href="/rpc">RPC Console</a><br/>
<a href="/explorers">Explorers</a><br/>
<a href="/smsgaddresses">SMSG Addresses</a><br/>
<br/>
<a href="/active">Swaps in progress: {{ summary.num_swapping }}</a><br/>
<a href="/offers">Network Offers: {{ summary.num_network_offers }}</a><br/>
<a href="/sentoffers">Sent Offers: {{ summary.num_sent_offers }}</a><br/>
<a href="/bids">Received Bids: {{ summary.num_recv_bids }}</a><br/>
<a href="/sentbids">Sent Bids: {{ summary.num_sent_bids }}</a><br/>
<a href="/watched">Watched Outputs: {{ summary.num_watched_outputs }}</a><br/>
</p>

<p><a href="/newoffer">New Offer</a></p>

<p><a href="/shutdown/{{ shutdown_token }}">Shutdown</a></p>

</body>
</html>
