{% include 'header.html' %}
{% from 'style.html' import index_wallet_svg, index_trading_svg, index_support_svg %}
<div class="container mx-auto">
 <section class="relative py-24 overflow-hidden">
  <div class="container px-4 mx-auto mb-16 md:mb-0">
   <div class="md:w-1/2 pl-4">
    <span class="inline-block py-1 px-3 mb-4 text-xs leading-5 bg-blue-500 text-white font-medium rounded-full shadow-sm">(BSX) BasicSwap v{{ version }} - (GUI) v.3.1.1</span>
    <h3 class="mb-6 text-4xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter dark:text-white">Welcome to BasicSwap DEX</h3>
    <p class="mb-12 text-lg md:text-xl text-coolGray-500 dark:text-gray-300 font-medium">The World's Most Secure and Decentralized DEX, Safely swap cryptocurrencies without central points of failure.
It’s free, completely trustless, and highly secure.</p>
    <div class="flex flex-wrap mb-10 text-center md:text-left">
     <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
      <a href="/wallets">
       <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-blue-500 rounded-lg">
        {{ index_wallet_svg | safe }}
       </div>
     </div>
     <div class="w-full md:flex-1 md:pt-3">
      <div class="md:max-w-sm">
       <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 dark:text-white font-bold">Your Wallet</h3>
       <p class="text-coolGray-500 dark:text-gray-300 font-medium">Manage your cryptocurrency wallets.</p>
       </a>
      </div>
     </div>
    </div>
    <div class="flex flex-wrap mb-10 text-center md:text-left">
     <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
      <a href="/offers">
       <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-blue-500 rounded-lg">
        {{ index_trading_svg | safe }}
       </div>
     </div>
     <div class="w-full md:flex-1 md:pt-3">
      <div class="md:max-w-sm">
       <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 dark:text-white font-bold">Start Trading</h3>
       <p class="text-coolGray-500 dark:text-gray-300 font-medium">Browse available swap offers placed by others.</p>
       </a>
      </div>
     </div>
    </div>
    <div class="flex flex-wrap text-center md:text-left">
     <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
      <a href="https://academy.particl.io/en/latest/faq/get_support.html" target="_blank">
       <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-blue-500 rounded-lg">
        {{ index_support_svg | safe }}
       </div>
     </div>
     <div class="w-full md:flex-1 md:pt-3">
      <div class="md:max-w-sm">
       <h3 class="mb-4 text-xl md:text-2xl leading-tight text-coolGray-900 dark:text-white font-bold">Help / Tutorials</h3>
       <p class="text-coolGray-500 dark:text-gray-300 font-medium">Learn how to use BasicSwap with the Particl Academy.</p>
      </div>
     </div>
     </a>
    </div>
   </div>
  </div>
  <div class="md:absolute md:top-28 lg:top-1/2 md:-right-96 xl:-right-80 md:-mr-56 lg:-mr-20 xl:-mr-0 md:transform lg:-translate-y-1/2 px-4 mb-16 md:mb-0">
   <div class="relative max-w-max">
    <img class="absolute p-7 -mt-1 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10/12 z-20 imageshow light-image" src="/static/images/gfx/dashboard.jpg" alt="">
    <img class="absolute p-7 -mt-1 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10/12 z-20 imageshow dark-image" src="/static/images/gfx/dashboard2.jpg" alt="">
    <img class="relative z-10 imageshow light-image" src="/static/images/gfx/macbook.png" alt="">
    <img class="relative z-10 imageshow dark-image" src="/static/images/gfx/macbook2.png" alt="">
    <img class="absolute -top-24 right-0 md:mt-px md:right-96 md:mr-52 lg:mr-16 xl:-mr-20 w-28 md:w-auto text-blue-500" src="/static/images/elements/dots2-red.svg">
    <img class="absolute -bottom-24 left-0 md:left-auto md:mt-px md:right-96 md:mr-52 lg:mr-16 xl:-mr-20 w-28 md:w-auto text-red-500" src="/static/images/elements/dots2-red.svg">
    <img class="absolute left-0 top-1/2 transform -translate-y-1/2 w-28 md:w-auto text-yellow-400" src="/static/images/elements/circle2-violet.svg">
   </div>
  </div>
 </section>
</div>
{% include 'footer.html' %}
</body>
</html>
