{% include 'header.html' %}

<h3>Confirm New Offer</h3>
{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}

<form method="post">

<table>
<tr><td>Send From Address</td><td><select name="addr_from_" disabled>
{% for a in addrs %}
<option{% if data.addr_from==a %} selected{% endif %} value="{{ a }}">{{ a }}</option>
{% endfor %}
<option{% if data.addr_from=="-1" %} selected{% endif %} value="-1">-- New Address --</option>
</select></td></tr>

<tr class="padded_row"><td class="bold">Coin From</td><td>
<select name="coin_from_" disabled><option value="-1">-- Select Coin --</option>
{% for c in coins %}
<option{% if data.coin_from==c[0] %} selected{% endif %} value="{{ c[0] }}">{{ c[1] }}</option>
{% endfor %}
</select>
</td><td>Amount From</td><td><input type="text" name="amt_from" value="{{ data.amt_from }}" readonly></td><td>The amount you will send.</td></tr>
{% if data.swap_style == 'xmr' %}
<tr><td>Fee Rate From</td><td><input name="fee_rate_from" value="{{ data.from_fee_override }}" readonly></td><td>Fee Rate Source</td><td>{{ data.from_fee_src }}</td></tr>
<tr><td>Fee From Confirm Target</td><td><input type="number" name="fee_from_conf" min="1" max="32" value="{{ data.fee_from_conf }}" readonly></td></tr>
<tr><td>Fee From Increase By</td><td>
<select name="fee_from_extra_" disabled>
<option value="0">None</option>
<option value="10"{% if data.fee_from_extra==10 %} selected{% endif %}>10%</option>
<option value="50"{% if data.fee_from_extra==50 %} selected{% endif %}>50%</option>
<option value="100"{% if data.fee_from_extra==100 %} selected{% endif %}>100%</option>
</select></td></tr>
<tr><td>Lock Tx Spend Fee</td><td>{{ data.amt_from_lock_spend_tx_fee }} {{ data.tla_from }}</td></tr>
{% endif %}

<tr class="padded_row"><td class="bold">Coin To</td><td>
<select name="coin_to_" disabled><option value="-1">-- Select Coin --</option>
{% for c in coins %}
<option{% if data.coin_to==c[0] %} selected{% endif %} value="{{ c[0] }}">{{ c[1] }}</option>
{% endfor %}
</select>
</td><td>Amount To</td><td><input type="text" name="amt_to" value="{{ data.amt_to }}" readonly></td><td>The amount you will receive.</td></tr>
{% if data.swap_style == 'xmr' and coin_to != '6' %}
<tr><td>Fee Rate To</td><td><input name="fee_rate_to" value="{{ data.to_fee_override }}" readonly></td><td>Fee Rate Source</td><td>{{ data.to_fee_src }}</td></tr>
<tr><td>Fee To Confirm Target</td><td><input type="number" name="fee_to_conf" min="1" max="32" value="{{ data.fee_to_conf }}" readonly></td></tr>
<tr><td>Fee To Increase By</td><td>
<select name="fee_to_extra_" disabled>
<option value="0">None</option>
<option value="10"{% if data.fee_to_extra==10 %} selected{% endif %}>10%</option>
<option value="50"{% if data.fee_to_extra==50 %} selected{% endif %}>50%</option>
<option value="100"{% if data.fee_to_extra==100 %} selected{% endif %}>100%</option>
</select></td></tr>
{% endif %}

<tr class="padded_row"><td>Offer valid (hrs)</td><td><input type="number" name="validhrs" min="1" max="48" value="{{ data.validhrs }}" readonly></td></tr>
<tr><td>Contract locked (hrs)</td><td><input type="number" name="lockhrs" min="1" max="64" value="{{ data.lockhrs }}" readonly></td>{% if data.swap_style != 'xmr' %}<td colspan=2>Participate txn will be locked for half the time.</td>{% endif %}</tr>
<tr><td>Auto Accept Bids</td><td colspan=3><input type="checkbox" name="autoaccept_" value="aa" {% if data.autoaccept==true %} checked="true"{% endif %} disabled></td></tr>
</table>

<input name="submit_offer" type="submit" value="Confirm Offer">
<input name="step2" type="submit" value="Back">
<input type="hidden" name="formid" value="{{ form_id }}">
<input type="hidden" name="addr_from" value="{{ data.addr_from }}">
<input type="hidden" name="coin_from" value="{{ data.coin_from }}">
<input type="hidden" name="fee_from_extra" value="{{ data.fee_from_extra }}">
<input type="hidden" name="coin_to" value="{{ data.coin_to }}">
<input type="hidden" name="fee_to_extra" value="{{ data.fee_to_extra }}">
{% if data.autoaccept==true %}
<input type="hidden" name="autoaccept" value="aa">
{% endif %}
</form>

</body></html>
