{% include 'header.html' %}

<h3>New Offer</h3>
{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}

<form method="post">

<table>
<tr><td>Coin From</td><td>
<select name="coin_from"><option value="-1">-- Select Coin --</option>
{% for c in coins %}
<option value="{{ c[0] }}">{{ c[1] }}</option>
{% endfor %}
</select>
</td><td>Amount From</td><td><input type="text" name="amt_from"></td></tr>

<tr><td>Coin To</td><td>
<select name="coin_to"><option value="-1">-- Select Coin --</option>
{% for c in coins %}
<option value="{{ c[0] }}">{{ c[1] }}</option>
{% endfor %}
</select>
</td><td>Amount To</td><td><input type="text" name="amt_to"></td></tr>

<tr><td>Contract locked (hrs)</td><td><input type="number" name="lockhrs" min="2" max="96" value="48"></td><td colspan=2>Participate txn will be locked for half the time.</td></tr>
<tr><td>Auto Accept Bids</td><td colspan=3><input type="checkbox" name="autoaccept" value="aa" checked></td></tr>
</table>

<input type="submit" value="Submit">
<input type="hidden" name="formid" value="{{ form_id }}">
</form>

<p><a href="/">home</a></p>
</body></html>
