{% include 'header.html' %}

<h3>Network Offers</h3>
{% if refresh %}
<p>Page Refresh: {{ refresh }} seconds</p>
{% endif %}
{% for m in messages %}
<p>{{ m }}</p>
{% endfor %}

<form method="post">
<table>
<tr><td>Coin From</td><td>
<select name="coin_from"><option value="-1"{% if filters.coin_from==-1 %} selected{% endif %}>-- Any Coin --</option>
{% for c in coins_from %}
<option value="{{ c[0] }}"{% if filters.coin_from==c[0] %} selected{% endif %}>{{ c[1] }}</option>
{% endfor %}
</select>
</td>
<td>Coin To</td><td>
<select name="coin_to"><option value="-1"{% if filters.coin_to==-1 %} selected{% endif %}>-- Any Coin --</option>
{% for c in coins %}
<option value="{{ c[0] }}"{% if filters.coin_to==c[0] %} selected{% endif %}>{{ c[1] }}</option>
{% endfor %}
</select>
</td></tr>

<tr><td>Sort By</td><td>
<select name="sort_by">
<option value="created_at"{% if filters.sort_by=='created_at' %} selected{% endif %}>Created At</option>
<option value="rate"{% if filters.sort_by=='rate' %} selected{% endif %}>Rate</option>
</select>
<select name="sort_dir">
<option value="asc"{% if filters.sort_dir=='asc' %} selected{% endif %}>Ascending</option>
<option value="desc"{% if filters.sort_dir=='desc' %} selected{% endif %}>Descending</option>
</select>
</td></tr>
<tr><td>Sent From Node</td><td>
<select name="sent_from">
<option value="any"{% if filters.sent_from=='any' %} selected{% endif %}>Any</option>
<option value="only"{% if filters.sent_from=='only' %} selected{% endif %}>Only</option>
</select>
</td></tr>

<tr><td><input type="submit" name='applyfilters' value="Apply Filters"></td><td><input type="submit" name='clearfilters' value="Clear Filters"></td></tr>
<tr><td><input type="submit" name='pageback' value="Page Back"></td><td>Page: {{ filters.page_no }}</td><td><input type="submit" name='pageforwards' value="Page Forwards"></td></tr>
</table>
<input type="hidden" name="formid" value="{{ form_id }}">
<input type="hidden" name="pageno" value="{{ filters.page_no }}">
</form>


<table>
<tr><th>At</th><th>From</th><th>Recipient</th><th>Offer ID</th><th>Coin From</th><th>Coin To</th><th>Amount From</th><th>Amount To</th><th>Rate</th><th>Amount From Swapped</th></tr>
{% for o in offers %}
<tr><td>{{ o[0] }}</td><td class="monospace">{{ o[8]|truncate(12, True) }}{% if o[9]==true %} <b>Sent</b>{% endif %}</td><td class="monospace">{{ o[7] }}</td><td><a class="monospace" href=/offer/{{ o[1] }}>{{ o[1] }}</a></td><td>{{ o[2] }}</td><td>{{ o[3] }}</td><td>{{ o[4] }}</td><td>{{ o[5] }}</td><td>{{ o[6] }}</td><td>{{ o[10] }}</td></tr>
{% endfor %}
</table>

<p><a href="/">home</a></p>
</body></html>
