{% include 'header.html' %}
<div class="container mx-auto">
  <section class="bg-white p-5 mt-5">
    <div class="flex flex-wrap items-center -m-2">
      <div class="w-full md:w-1/2 p-2">
        <ul class="flex flex-wrap items-center gap-x-3 mb-2">
          <li>
            <a class="flex font-medium text-xs text-coolGray-500 hover:text-coolGray-700" href="/">
              <p>Home</p>
            </a>
          </li>
          <li>
            <svg width="6" height="15" viewBox="0 0 6 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.34 0.671999L2.076 14.1H0.732L3.984 0.671999H5.34Z" fill="#BBC3CF"></path>
            </svg>
          </li>
          <li><a class="flex font-medium text-xs text-coolGray-500 hover:text-coolGray-700" href="/tor">TOR</a></li>
          <li>
            <svg width="6" height="15" viewBox="0 0 6 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.34 0.671999L2.076 14.1H0.732L3.984 0.671999H5.34Z" fill="#BBC3CF"></path>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="py-4">
    <div class="container px-4 mx-auto">
      <div class="relative py-11 px-16 bg-coolGray-900 rounded-md overflow-hidden"> <img class="absolute z-10 left-4 top-4" src="/static/images/elements/dots-red.svg" alt=""> <img class="absolute z-10 right-4 bottom-4" src="/static/images/elements/dots-red.svg" alt=""> <img class="absolute h-64 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 object-cover" src="/static/images/elements/wave.svg" alt="">
        <div class="relative z-20 flex flex-wrap items-center -m-3">
          <div class="w-full md:w-1/2 p-3">
            <h2 class="mb-6 text-4xl font-bold text-white tracking-tighter">TOR</h2>
            <p class="font-semibold text-coolGray-200">TOR connection information</p>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <a id="refresh" href="/tor">
              <button class="block md:ml-auto px-5 py-3 font-medium text-lcg text-white bg-blue-500 hover:bg-blue-600 rounded-md focus:ring-0 focus:outline-none">Refresh</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'inc_messages.html' %}
  <section class="bg-white">
    <div class="pl-6 pr-6 pt-0 pb-0 mt-5 h-full overflow-hidden bg-white ">
      <div class="pb-6 border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full pt-2">
            <div class="container px-0 mx-auto mt-5">
              <div class="overflow-x-auto relative border sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 outline-none border-gray-300">
                  <thead class="text-xs text-gray-700 border-b uppercase bg-gray-50 outline-none border-gray-300">
                    <tr>
                      <th scope="col" class="py-3 px-6 w-80">Name:</th>
                      <th scope="col" class="py-3">Output:</th>
                    </tr>
                  </thead>
                  <tr class="bg-white border-t hover:bg-gray-50">
                    <td class="py-4 pl-5 pr-5 w-80 bold">TOR Mode</td>
                    <td td class="py-4">{% if use_tor_proxy == true %} Active {% if tor_established == true %} & Connected{% endif %} {% endif %}</td>
                  </tr>
                  <tr class="bg-white border-t hover:bg-gray-50">
                    <td class="py-4 pl-5 pr-5 w-80 bold">Circuit Established</td>
                    <td td class="py-4">{{ data.circuit_established }}</td>
                  </tr>
                  <tr class="bg-white border-t hover:bg-gray-50">
                    <td class="py-4 pl-5 bold">Bytes Written</td>
                    <td td class="py-4">{{ data.bytes_written }}</td>
                  </tr>
                  <tr class="bg-white border-t hover:bg-gray-50">
                    <td class="py-4 pl-5 pr-5 bold">Bytes Read</td>
                    <td td class="py-4">{{ data.bytes_read }}</td>
                  </tr>
                </table>
              </div>
            </div </div>
          </div>
        </div>
      </div>
  </section>
  </div>{% include 'footer.html' %}
</div>
</body>
</html>