
.padded_row td
{
  padding-top:1.5em;
}

.bold
{
  font-weight:bold;
}

.monospace
{
  font-family:monospace;
}

.floatright
{
  position: fixed;
  top: 2em;
  right: 2em;
  margin: 0;
  z-index: 50;
}

.error
{
  border: 1px solid red;
}

.error_msg
{
  color:red;
}
