
.padded_row td
{
  padding-top:1.5em;
}

.bold
{
  font-weight:bold;
}

.monospace
{
  font-family:monospace;
}

.floatright
{
  position:fixed;
  top:10px;
  right:18px;
  margin: 0;
  width:calc(33.33% - 25px);
}
